rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
        match /users/{userId} {
            allow read: if request.auth.uid == userId;
        }

        // Allow read access to user-specific messages
        match /users/{userId}/messages/{messageId} {
            allow read: if request.auth != null && request.auth.uid == userId;
            allow write: if false;
        }

        // Allow listening to the messages collection
        match /users/{userId}/messages {
            allow read: if request.auth != null && request.auth.uid == userId;
            allow write: if false;
        }
    }
}
